/*==============
    FONTES 
================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tilt+Neon&display=swap");

/*==============
    VARIAVEIS 
================*/

:root {
  /*emojis*/
  --alvo: "🎯";
  --cafe-intenso: "☕";
  --capuccino-cremoso: "🫧";
  --chocolate: "🍫";
  --hortela: "🍃";

  /* tamanhos de fonte */
  --fonte-pequena: 0.875rem;
  --fonte-padrao: 1rem;
  --fonte-media: 1.5rem;
  --fonte-grande: 2rem;
  --fonte-titulo: 3rem;

  /* cores */
  --cor-card:  #E0F2FE;
  --cor-header: #1E40AF;
  --cor-primaria: #2563eb;   /* azul principal */
  --cor-secundaria: #1e40af; /* azul mais escuro */
  --cor-fundo: #D0E7FF;      /* fundo claro */
  --cor-card: #ffffff;       /* cards */
  --cor-texto-azul: #1E3A8A;      /* texto */
}


body {
  background-color: var(--cor-fundo);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--cor-texto-azul);
  margin: 0;
}



.titulo {
  background-color: var(--cor-header);
  padding: 50px;
  border-bottom: #2196F3 solid 5px;
  
}


h1 {
  text-align: center;
  color: #fff;
  padding: 50px;
  font-size: var(--fonte-titulo);
  margin: 0;
}

.botao-estilo {
  padding: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  color: white;
  border-radius: 20px;
  font-size: var(--fonte-padrao);
  background: #0572e6;
  border: none;
  background: linear-gradient(135deg, #2563eb, #1e40af);

}




article {
  max-width: 800px;
  margin: 40px auto;
  background-color: var(--cor-card);
  border-radius: 20px;
  padding: 50px;
  border: 2px solid #60A5FA;
  box-shadow: 6px 6px 0px rgba(30, 64, 175, 0.1); 
  color: #0e0e10;
}

h2 {
    color: #1E40AF;
    font-weight: 800;
    margin-top: 0;
    border-bottom: 2px solid #60A5FA;
    display: inline-block;
    padding-bottom: 5px;
}

.autor {
  margin-top: 30px;
  text-align: right;
  font-style: italic;
  font-weight: 600;
  font-size: var(--fonte-pequena);
  margin-bottom: 0;
}

.container-bebidas {
  max-width: 450px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background: #1465bb;
}


.container-bebidas ol {
  /* remove o espaço padrão colocado na esquerda em ol*/
  padding-left: 0;
  color: #1951c0;
  /* Faz o número aparecer dentro do bloco do item */
  list-style-position: inside;
  /* Limita a largura da lista */
  max-width: 400px;
  /* Centraliza a lista horizontalmente */
  margin: auto;
  margin-bottom: 30px;
}

.container-bebidas li {
  border-radius: 12px;
  padding: 18px;
  /* Espaçamento entre os itens */
  margin: 12px 0;
  transition: 0.2s;
  font-family: "Roboto Slab";
  background: #2196f3;
  color: #fff;
  cursor: pointer;
}


.container-bebidas li:hover {
  transform: translateX(6px);
  background: #81c9fa;
  color: #040c35;
}





.container-bebidas li:nth-child(1)::before {
  content: var(--cafe-intenso);
}

.container-bebidas li:nth-child(2)::before {
  content: var(--capuccino-cremoso);
}

.container-bebidas li:nth-child(3)::before {
  content: var(--chocolate);
}

.container-bebidas li:nth-child(4)::before {
  content: var(--hortela);
}

.container-bebidas h2, .container-tarefas h2 {
  display: block;
  border: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}



.container-tarefas {
  background: #5fb8f3;
  margin: 40px auto;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
}


.container-tarefas ol {
  max-width: 450px;
  margin: 20px auto;
}

.tarefas {
  background: #2196f3;
  border-radius: 20px;
  padding: 13px;
  margin: 20px;
  border-left: 5px solid #0e01a1;
}

.tarefas:hover {
  background: #81c9fa;
  transform: translateX(10px);
  color: #000107;
}

ul, ol {
  padding-left: 0;
}


ul {
  list-style: none;
}

.tarefas li {
  margin: 10px;
  font-family: "Tilt Neon", sans-serif;
}

.tarefas li::before {
  content: var(--alvo);
}


/* maneira 1 -  Selecionando por hierarquia */
.container-tarefas li:nth-child(1) ul li:nth-child(1) {
  text-decoration: line-through;
  color: rgba(15, 6, 6, 0.4);

  text-decoration: line-through;

  background-color: rgba(255, 255, 255, 0.05);

  border-radius: 4px;
}

/* maneira 2 - Criando no HTML uma classe específica para esses elementos*/
.riscado {
  color: rgba(15, 6, 6, 0.4); 

  text-decoration: line-through;

  background-color: rgba(255, 255, 255, 0.05); 

  border-radius: 4px; 
}



footer {
  text-align: center;
}
 
.menu-links ul{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 15px;
}

.menu-links a {
  text-decoration: none;
  color: #1E40AF;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.menu-links {
  background: #fff;
  padding: 15px;
  border-bottom: 3px solid #2563eb;
  height: 50px;
}

.menu-links li {
  font-family: "Tilt Neon", sans-serif;
}

.menu-links a:hover {
  color: #000107;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.voltar {
  margin-top: 20px;
  display: block;
  text-align: right;
  font-size: 25px;
  color: var(--cor-secundaria);
}



.container-imagens {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-imagens h3 {
  text-align: center;
  font-weight: 800;
}


.imagem-card {
  background: #6eb2e9;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}


.imagem-card img {
  width: 100%;
  border-radius: 8px;
}

.container-imagens h3, h4 {
  font-weight: 800;
  font-size: 25px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.container-imagens h3 {
  background: #4f81e6;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  padding: 10px;
}